.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-display {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message {
  margin-bottom: 0.5rem;
}

.chat-input-form {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.chat-input {
  flex-grow: 1;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  outline: none;
  font-size: large;
}

.send-button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #92ff81;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  font-size: large;
}

.send-button:hover {
  background-color: #81eaff;
}
