.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-title {
  border-radius: 1rem 1rem 0 0;
  background-color: #ffd803;
  text-align: left;
  padding-left: 2rem;
}

.chat-display {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  background-color: #e3f6f5;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message {
  margin-bottom: 0.5rem;
}

.chat-input-form {
  display: flex;
  padding: 1rem;
  border-top: #ffd803 4px solid;
  background-color: #bae8e8;
  border-radius: 0 0 1rem 1rem;
}

.chat-input {
  flex-grow: 1;
  resize: none;
  border: 1px solid #272343;
  background-color: #e3f6f5;
  border-radius: 0.4rem;
  padding: 0.5rem;
  outline: none;
  font-size: large;
}

.send-button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ffd803;
  color: #272343;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  font-size: large;
  cursor: pointer;
}

.send-button:hover {
  background-color: #fdbf6d;
}

.send-button:disabled {
  background-color: #c2c2c2;
  cursor: not-allowed;
}
